* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #C8F69B;
    --secondary-color: #9C5700;
    --primary_padding: 2rem;
    --secondary_padding: .5rem;
    --secondary_second_padding: .2rem;
    --primary_font_size: 1.5rem;
    --border-radius: .3rem;
}
body {
    height: 100vh;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--primary-color);
}
.logo {
    cursor: pointer;
}
.nav-area {
    list-style: none;
}
.nav-area li {
    display: inline-block;
    padding: 0 1rem;
    text-transform: uppercase;
}
.nav-area li a {
    transition: .3seconds;
    color: var(--secondary-color);
}
.nav-area li a:hover {
    color: red;
}
.btn-area {
    cursor: pointer;
    font-size: 1rem;
    color: white;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border-radius: .2rem;
    background: #D7444D;
}